In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
# Full path to the file
file_path = r"C:\Users\Kaleb\Downloads\Technical Content-20250612T081638Z-1-001\MachineLearningRating_v3\MachineLearningRating_v3.txt"

df = pd.read_csv(file_path, sep='|')

C:\Users\Kaleb\AppData\Local\Temp\ipykernel_11540\4096550971.py:5: DtypeWarning: Columns (32,37) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, sep='|')

In [217]:
df.head()

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,AccountType,...,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims
0,145249,12827,2015-03-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
1,145249,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
2,145249,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0
3,145255,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,512.848070,0.0
4,145255,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0

In [ ]:
df.isnull().sum()

UnderwrittenCoverID               0
PolicyID                          0
TransactionMonth                  0
IsVATRegistered                   0
Citizenship                       0
LegalType                         0
Title                             0
Language                          0
Bank                         145961
AccountType                   40232
MaritalStatus                  8259
Gender                         9536
Country                           0
Province                          0
PostalCode                        0
MainCrestaZone                    0
SubCrestaZone                     0
ItemType                          0
mmcode                          552
VehicleType                     552
RegistrationYear                  0
make                            552
Model                           552
Cylinders                       552
cubiccapacity                   552
kilowatts                       552
bodytype                        552
NumberOfDoors                   552
VehicleIntroDate                552
CustomValueEstimate          779642
AlarmImmobiliser                  0
TrackingDevice                    0
CapitalOutstanding                2
NewVehicle                   153295
WrittenOff                   641901
Rebuilt                      641901
Converted                    641901
CrossBorder                  999400
NumberOfVehiclesInFleet     1000098
SumInsured                        0
TermFrequency                     0
CalculatedPremiumPerTerm          0
ExcessSelected                    0
CoverCategory                     0
CoverType                         0
CoverGroup                        0
Section                           0
Product                           0
StatutoryClass                    0
StatutoryRiskType                 0
TotalPremium                      0
TotalClaims                       0
dtype: int64

In [220]:
df.isnull().sum()

UnderwrittenCoverID               0
PolicyID                          0
TransactionMonth                  0
IsVATRegistered                   0
Citizenship                       0
LegalType                         0
Title                             0
Language                          0
Bank                         145961
AccountType                   40232
MaritalStatus                  8259
Gender                         9536
Country                           0
Province                          0
PostalCode                        0
MainCrestaZone                    0
SubCrestaZone                     0
ItemType                          0
mmcode                          552
VehicleType                     552
RegistrationYear                  0
make                            552
Model                           552
Cylinders                       552
cubiccapacity                   552
kilowatts                       552
bodytype                        552
NumberOfDoors                   552
VehicleIntroDate                552
CustomValueEstimate          779642
AlarmImmobiliser                  0
TrackingDevice                    0
CapitalOutstanding                2
NewVehicle                   153295
WrittenOff                   641901
Rebuilt                      641901
Converted                    641901
CrossBorder                  999400
NumberOfVehiclesInFleet     1000098
SumInsured                        0
TermFrequency                     0
CalculatedPremiumPerTerm          0
ExcessSelected                    0
CoverCategory                     0
CoverType                         0
CoverGroup                        0
Section                           0
Product                           0
StatutoryClass                    0
StatutoryRiskType                 0
TotalPremium                      0
TotalClaims                       0
dtype: int64

In [221]:
# Cell 3: Drop columns that are nearly all missing
drop_cols = ['CrossBorder', 'NumberOfVehiclesInFleet']
df.drop(columns=[col for col in drop_cols if col in df.columns], inplace=True)
print("ðŸ§¹ Dropped columns:", drop_cols)

ðŸ§¹ Dropped columns: ['CrossBorder', 'NumberOfVehiclesInFleet']

In [222]:

categorical_fill_mode = ['Gender', 'MaritalStatus', 'AccountType', 'Bank']
for col in categorical_fill_mode:
    if col in df.columns:
        mode_val = df[col].mode()[0]
        df[col].fillna(mode_val, inplace=True)
        print(f"ðŸ“Œ Filled missing in {col} with mode: {mode_val}")

ðŸ“Œ Filled missing in Gender with mode: Not specified
ðŸ“Œ Filled missing in MaritalStatus with mode: Not specified
ðŸ“Œ Filled missing in AccountType with mode: Current account
ðŸ“Œ Filled missing in Bank with mode: First National Bank

C:\Users\Kaleb\AppData\Local\Temp\ipykernel_11540\1696458970.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(mode_val, inplace=True)

In [223]:
# Cell 5: Fill missing numeric columns with median
numeric_cols = ['CustomValueEstimate', 'Cylinders', 'cubiccapacity', 'kilowatts', 'NumberOfDoors']
for col in numeric_cols:
    if col in df.columns:
        median_val = df[col].median()
        df[col].fillna(median_val, inplace=True)
        print(f"ðŸ”¢ Filled missing in {col} with median: {median_val}")

ðŸ”¢ Filled missing in CustomValueEstimate with median: 220000.0
ðŸ”¢ Filled missing in Cylinders with median: 4.0
ðŸ”¢ Filled missing in cubiccapacity with median: 2694.0
ðŸ”¢ Filled missing in kilowatts with median: 111.0
ðŸ”¢ Filled missing in NumberOfDoors with median: 4.0

C:\Users\Kaleb\AppData\Local\Temp\ipykernel_11540\1524204806.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(median_val, inplace=True)
C:\Users\Kaleb\AppData\Local\Temp\ipykernel_11540\1524204806.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(median_val, inplace=True)
C:\Users\Kaleb\AppData\Local\Temp\ipykernel_11540\1524204806.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(median_val, inplace=True)
C:\Users\Kaleb\AppData\Local\Temp\ipykernel_11540\1524204806.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(median_val, inplace=True)
C:\Users\Kaleb\AppData\Local\Temp\ipykernel_11540\1524204806.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(median_val, inplace=True)

In [225]:

df.dropna(subset=['TotalClaims', 'TotalPremium'], inplace=True)
print("ðŸ§¾ Dropped rows with missing TotalClaims or TotalPremium. Shape:", df.shape)

ðŸ§¾ Dropped rows with missing TotalClaims or TotalPremium. Shape: (1000098, 50)

In [227]:
# Cell 8: Remove extreme outliers (99.9 percentile)
for col in ['TotalClaims', 'TotalPremium', 'CustomValueEstimate']:
    if col in df.columns:
        upper_limit = df[col].quantile(0.999)
        before = df.shape[0]
        df = df[df[col] <= upper_limit]
        after = df.shape[0]
        print(f"ðŸš« Removed outliers in {col}: {before - after} rows removed")

ðŸš« Removed outliers in TotalClaims: 1001 rows removed
ðŸš« Removed outliers in TotalPremium: 999 rows removed
ðŸš« Removed outliers in CustomValueEstimate: 979 rows removed

In [230]:
# Cell 7: Add derived features

# Ensure TransactionMonth is datetime (in case read_csv parsing failed)
df['TransactionMonth'] = pd.to_datetime(df['TransactionMonth'], errors='coerce')

# Drop rows where TransactionMonth couldn't be parsed
df = df.dropna(subset=['TransactionMonth'])

# Now add derived columns
df['HasClaim'] = df['TotalClaims'] > 0
df['Month'] = df['TransactionMonth'].dt.month
df['Year'] = df['TransactionMonth'].dt.year

print("ðŸ“… Added derived columns: HasClaim, Month, Year")
df[['TransactionMonth', 'Month', 'Year', 'HasClaim']].head()

ðŸ“… Added derived columns: HasClaim, Month, Year

  TransactionMonth  Month  Year  HasClaim
0       2015-03-01      3  2015     False
1       2015-05-01      5  2015     False
2       2015-07-01      7  2015     False
3       2015-05-01      5  2015     False
4       2015-07-01      7  2015     False

In [232]:
import os

output_dir = r"C:\Users\Kaleb\OneDrive\Desktop\insurance-risk-modeling\acis-insurance-risk-modeling\data"

os.makedirs(output_dir, exist_ok=True)

# Save the cleaned file
output_path = os.path.join(output_dir, "cleaned_insurance_data.csv")
df.to_csv(output_path, index=False)
print(f"âœ… Cleaned data saved to: {output_path}")

âœ… Cleaned data saved to: C:\Users\Kaleb\OneDrive\Desktop\insurance-risk-modeling\acis-insurance-risk-modeling\data\cleaned_insurance_data.csv